{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Les Plans des semaines</h1>

 
        {% for planning in plannings %}


<ul class="list-group">
        <div style="text-align:center"> 
        
        <li class="list-group-item active">{{ planning.id }}</li>
        <li class="list-group-item">{{ planning.semaine }}</li>
        <li class="list-group-item">{{ planning.description }}</li>

       <a type="button" class="btn btn-success" href="{{ path('app_planning_show', {'id': planning.id}) }}">consulter</a>
       <a type="button" class="btn btn-success" href="{{ path('app_planning_edit', {'id': planning.id}) }}">modifier</a>


        </div> 
<br> 

<br> 

    </ul>

  
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    <div class="align-center"> {{ knp_pagination_render(plannings) }}</div>

            <div style="text-align:center"> 
       <a type="button" class="btn btn-success" href="{{ path('app_planning_new') }}">ajouter</a>
        </div> 

{% endblock %}
