{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Planning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Semaine</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.semaine }}</td>
                <td>{{ planning.description }}</td>
                <td>
                    <a href="{{ path('app_planning_show', {'id': planning.id}) }}">show</a>
                    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planning_new') }}">Create new</a>
{% endblock %}
