{% extends 'base.html.twig' %}

{% block title %}Rdv index{% endblock %}


{% block body %}

{% for flash_message in app.flashes('error') %}
                                <div class="alert alert-danger">{{ flash_message }}</div>
                            {% endfor %}
                            {% for flash_message in app.flashes('success') %}
                                <div class="alert alert-success">{{ flash_message }}</div>
                            {% endfor %}
<div style="text-align:center">
        <h2>Chercher un rendez-vous</h2>
    <input id="searchbar" onkeyup="rdv()" type="text"
           name="search" placeholder="Search ..">

           <br>
           <br>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date</th>
                <th>numero </th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rdv in Rdv %}
            <tr>
                <td class="tcell">{{ rdv.id }}</td>
                <td class="tcell">{{ rdv.nom }}</td>
                <td class="tcell">{{ rdv.prenom }}</td>
                <td class="tcell">{{ rdv.email }}</td>
                <td class="tcell">{{ rdv.date ? rdv.date|date('Y-m-d H:i:s') : '' }}</td>
                <td class="tcell">{{ rdv.numtel }}</td>
                <td class="tcell">{{ rdv.description }}</td>
                
                <td>
                
                     <button class=" btn "><a href="{{ path('app_rdv_show', {'id': rdv.id}) }}">Afficher</button> <br> <br>
                    <button class=" btn "><a href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">Modifier</button> <br> <br>
                     {{ include('rdv/_delete_form.html.twig') }}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="align-center"> {{ knp_pagination_render(Rdv) }}</div>
   

    <a href="{{ path('app_rdv_new') }}" class="btn btn-success">Creer un rendez_vous</a>




    <script>

        // JavaScript code
        function rdv() {
            let input = document.getElementById('searchbar').value
            input=input.toLowerCase();
            let x = document.getElementsByClassName('tcell');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display="none";
                }
                else {
                    x[i].style.display="list-item";
                }
            }
        }

    </script>





{% endblock %}
