
    <h1 style="text-align:center"> Formulaire plat</h1>

     <div class="d-md-flex justify-content-between mb-2">
     <ul class="nav nav-tabs b-none">
     {# <li class="btn" ><a href="{{ path('app_plat_index') }}" class="rounded" ><i class="fa fa-arrow-left"></i> <strong> Revenir vers plats </strong></a></li> #}
     </ul>
       </div>


<div id="main_content">
             <div class="section-body">
                 <div class="container-fluid">
                     <div class="row clearfix">
                         <div class="col-md-12">
                             <div class="tab-content">
                                 <div class="tab-pane active show" id="Company_Settings">
                                     <div class="card">
                                         <div class="card-body">
                                             {{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
                                             <form>
                                                             <div class="form-group">
                                                                 {{ form_label(form.nom,"Nom") }}
                                                                 {{ form_widget(form.nom,{ 'attr': {'class': 'form-control'} }) }}
                                                                 {% if form_errors(form.nom) is not empty %}
                                                                     <div class="alert text-danger" >
                                                                         {{ form_errors(form.nom) }}
                                                                     </div>
                                                                 {% endif %}
                                                           </div>

                                                           <div class="form-group">
                                                                 {{ form_label(form.description,"description") }}
                                                                 {{ form_widget(form.description,{ 'attr': {'class': 'form-control'} }) }}
                                                                 {% if form_errors(form.description) is not empty %}
                                                                     <div class="alert text-danger" >
                                                                         {{ form_errors(form.description) }}
                                                                     </div>
                                                                 {% endif %}
                                                            </div>
                                                
                                                           <div class="form-group">
                                                                 {{ form_label(form.prix,"prix") }}
                                                                 {{ form_widget(form.prix,{ 'attr': {'class': 'form-control'} }) }}
                                                                 {% if form_errors(form.prix) is not empty %}
                                                                     <div class="alert text-danger" >
                                                                         {{ form_errors(form.prix) }}
                                                                     </div>
                                                                 {% endif %}
                                                            </div>
                                                

                                                        <div class="form-group">

                                                                {{ form_label(form.calorie,"calorie") }}
                                                                {{ form_widget(form.calorie,{ 'attr': {'class': 'form-control'} }) }}
                                                                {% if form_errors(form.calorie) is not empty %}
                                                                    <div class="alert text-danger" >
                                                                        {{ form_errors(form.calorie) }}
                                                                    </div>
                                                                {% endif %}
                                                        </div>


                                                         <div class="form-row">

                                                   <div class="form-group">
                                                                {{ form_widget(form.disponibilte,{ 'attr': {'class': 'form-control'} }) }}
                                                                {{ form_label(form.disponibilte,"disponibilité") }}
                                                                {% if form_errors(form.disponibilte) is not empty %}
                                                                    <div class="alert text-danger" >
                                                                        {{ form_errors(form.disponibilte) }}
                                                                    </div>
                                                                {% endif %}
                                                        </div>
                                                        </div>
                                           
                                                    {{ form_rest(form) }}
                                                 <div class="col-sm-12 text-right m-t-20">
                                                     <button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Enregistrer') }}</button>
                                                     
                                                 </div>
                                                 {{ form_end(form) }}
                                             </form>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
</div>


