


{% extends 'admin.html.twig' %}

{# 
<!DOCTYPE html>

<title>Plat index</title> #}

{% block body %}
    <h1 style="text-align:center"> Détails sur {{plat.nom}}</h1>

     <div class="d-md-flex justify-content-between mb-2">
     <ul class="nav nav-tabs b-none">
     <li class="btn" ><a href="{{ path('app_plat_index') }}" class="rounded" ><i class="fa fa-arrow-left"></i> <strong> Revenir vers plats </strong></a></li>
      {{ include('plat/_delete_form.html.twig') }}
     </ul>
       </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Disponibilte</th>
                <th>Calorie</th>
              
                <th>Image</th>
                  <th>prix</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.disponibilte ? 'Disponible' : 'Non Disponible' }}</td>
                <td>{{ plat.calorie }}</td>
                
                <td>
                <img src="{{asset('uploads/plats/'~plat.image)}}"
               </td>
               <td>{{ plat.prix }}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
