{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Cours</h1>

   
        {% for cour in cours %}



        
<ul class="list-group">
        <div style="text-align:center"> 
        
        <li class="list-group-item active">{{ cour.id }}</li>
        <li class="list-group-item">{{ cour.nom }}</li>
        <li class="list-group-item">{{ cour.duree ? cour.duree|date('Y-m-d H:i:s') : '' }}</li>

        <li class="list-group-item">{{ cour.salle }}</li>

       <a type="button" class="btn btn-success" href="{{ path('app_cours_show', {'id': cour.id}) }}">consulter</a>
       <a type="button" class="btn btn-success" href="{{ path('app_cours_edit', {'id': cour.id}) }}">modifier</a>


        </div> 
<br> 

<br> 

    </ul>

 
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="align-center"> {{ knp_pagination_render(cours) }}</div>

             <div style="text-align:center"> 

           <a type="button" class="btn btn-success" href="{{ path('app_cours_new') }}">ajouter un cours</a>
        </div> 

{% endblock %}
